@page "/"

<h1>Hello, welcome to Farzan's online shop</h1>
<br>
<h2>
    In this online shopping market we have collected the <br> 
    most <b> fashinable </b> and <b> beautiful </b> clothes from best <br>
    fashion companies all around the world with <b> best price. </b> <br>
</h2>
<br>
<h3>
    If you want to shop from our fantabulous shop click the button below 
</h3>
<center>
    <a href="products" class="btn btn-warning btn-lg active" role="button" aria-pressed="true" >Shopping store</a>
</center>

<br>
<br>

<style>
    body {
        @* background-image: url('bg4.jpg'); *@
        background-color: blueviolet;
        background-repeat: no-repeat;
        background-position: bottom;
        
    }
</style>


@* <img src="hm2.jpeg" class="img-rounded" alt="Girl in a jacket" width="540" height="810" >

<img src="hm1.jpg" class="img-rounded"  alt="Boy in a jacket" width="540" height="675" > *@

<img src="hm2.jpeg" class="img-rounded" alt="Girl in a jacket" width="540" height="750" >

<img src="hm1.jpg" class="img-rounded"  alt="Boy in a jacket" width="540" height="750" >


